:root {
  /* color */
  --primary-text-color: #212121;
  --text-color-logo: #000000;
  --title-text-color: #757575;
  --secondary-title-text-color: #afb1b8;
  --accent-color: #fff;
  --section-background-colour: #2f303a;
  --main-page-color: #ffcc26;
  --secondary-backgraund-color: #f5f4fa;
  --hero_btn-backgraund-color: #188ce8;
  /* others */
  --items: 3;
  --indent: 30px;
  /* transform */
  --timing-transform: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-text-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --timing-backgraund-color: backgraund-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background: var(--main-page-color);
  height: 100%;
  width: 100%;
  text-align: left;
  display: flex;
}

.header-container {
  display: flex;
  justify-content: left;
}

.header-logo {
  color: #414141;
  font-family: Anek Telugu;
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0.05em;
  display: flex;
  padding-left: 1250px;
}

.wrapper {
  display: block;
}

.favorites {
  width: 500px;
  float: left;
  display: inline-block;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 45px;
  border-width: 3px 3px 3px 3px;
  border-style: dashed dashed dashed dashed;
  border-color: #414141 #414141 #414141 #414141;
  border-radius: 20px;
  margin-top: 30px;
}

.favorite-food {
  padding: 20px 30px 300px 30px;
}

.favorite-product {
  width: 347px;
  margin: 20px 30px 30px 30px;
  background-color: #fbfbfb;
}

.card-set__icon {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.product {
  display: inline-block;
  float: right;
  padding-top: 30px;
  border-width: 3px 3px 3px 3px;
  border-style: dashed dashed dashed dashed;
  border-color: #414141 #414141 #414141 #414141;
  border-radius: 20px;
}

.tovar {
  width: 232px;
  height: 232px;
}

.gus-title {
  display: flex;
}

.gus-fact-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.gus-fact-descr {
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: left;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-form-btn {
  display: flex;
  width: 200px;
  height: 50px;
  margin-top: 0px;
  padding-right: 60px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin: 0;

  background: var(--accent-color);
  color: var(--main-page-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: transparent;
  border-radius: 3px;
}
